html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #333;
  overflow: hidden;
}

img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
}

ul, li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

input, textarea {
  resize: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

@media (min-width: 769px) {
  .section-wrapper {
    padding: 95px 0;
  }
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 95px 0;
  }
}

@media (max-width: 480px) {
  .section-wrapper {
    padding: 95px 0;
  }
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .section-inner {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .section-inner {
    padding: 0 4vw;
  }
}

@media (max-width: 480px) {
  .section-inner {
    padding: 0 4vw;
  }
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 769px) {
  .section-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.sub-en-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #3ba6c9;
  margin-bottom: 50px;
  text-align: center;
}

.link-form_btn {
  color: #fff;
  background: transparent -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6030b0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6030b0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 155px;
  line-height: 37px;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.lightblue-bg {
  background-color: #eefbfb;
}

.lines {
  line-height: 2;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.white {
  color: #fff;
}

.js-scroll-fadein {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.js-scroll-fadein.is-fadein {
  visibility: visible;
  opacity: 1;
}

.arrow {
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #000;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 22px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  opacity: 0.8;
  bottom: 15px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 13px;
  top: 14px;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .header-inner {
    padding: 24px 5%;
  }
}

@media (max-width: 768px) {
  .header-inner {
    padding: 24px 4vw;
  }
}

@media (max-width: 480px) {
  .header-inner {
    padding: 24px 4vw;
  }
}

.logo-title {
  font-weight: bold;
  line-height: 35px;
}

@media (min-width: 769px) {
  .logo-title {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .logo-title {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .logo-title {
    font-size: 2rem;
  }
}

.logo-title_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title_link:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo-img {
  margin-right: 16px;
}

@media (min-width: 769px) {
  .logo-img {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 768px) {
  .logo-img {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 769px) {
  .header-nav {
    display: block;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-nav {
    display: none;
  }
}

.header-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_item {
  margin-left: 4vw;
}

.header-nav_item:first-of-type {
  margin-left: 0;
}

.header-nav_item:last-of-type {
  margin-left: 6vw;
}

.header-nav_item a:hover {
  text-decoration: underline;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn {
  position: relative;
  z-index: 5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #333;
  -webkit-box-shadow: 0 0 2rem transparent;
          box-shadow: 0 0 2rem transparent;
}

@media (min-width: 769px) {
  .burger-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}

@media (max-width: 480px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn:hover, .burger-btn:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
          box-shadow: 0 0 0.5rem rgba(161, 161, 161, 0.5);
}

.burger-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background-color: #333;
}

.burger-line::before, .burger-line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.burger-line::before {
  top: -5px;
}

.burger-line::after {
  top: 5px;
}

.burger-btn[aria-expanded="true"] {
  border: 1px solid #333;
}

.burger-btn[aria-expanded="true"] .burger-line {
  background-color: transparent;
}

.burger-btn[aria-expanded="true"] .burger-line::before, .burger-btn[aria-expanded="true"] .burger-line::after {
  top: 0;
  background-color: #333;
}

.burger-btn[aria-expanded="true"] .burger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-btn[aria-expanded="true"] .burger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sp-global-menu {
  position: fixed;
  z-index: 4;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #fff;
  color: #333;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp-global-menu nav {
  width: 100%;
  margin-top: 100px;
}

.sp-global-menu_item {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 2.4rem;
}

.sp-global-menu_item:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.drawer-background {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.is-drawerActive .sp-global-menu {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fv {
  overflow: hidden;
}

.fv-inner {
  position: relative;
}

@media (min-width: 769px) {
  .fv-inner {
    margin-top: 253px;
    margin-bottom: 113px;
  }
}

@media (max-width: 768px) {
  .fv-inner {
    margin-top: 253px;
    margin-bottom: 113px;
  }
}

@media (max-width: 480px) {
  .fv-inner {
    margin-top: 253px;
  }
}

.main-title {
  margin-bottom: 44px;
}

@media (min-width: 769px) {
  .main-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 3.2rem;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 2.8rem;
    text-align: center;
  }
}

.sub-title {
  margin-bottom: 53px;
}

@media (max-width: 480px) {
  .sub-title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .fv_btn {
    margin: 0 auto;
  }
}

.fv_btn:hover {
  text-decoration: underline;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fv-img {
  width: 90%;
  max-width: 510px;
  position: absolute;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  z-index: -1;
}

@media (min-width: 769px) {
  .fv-img {
    right: 5%;
  }
}

@media (max-width: 768px) {
  .fv-img {
    right: 4vw;
    opacity: 0.5;
  }
}

@media (max-width: 480px) {
  .fv-img {
    right: 4vw;
    opacity: 0.3;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.fv-bg-img {
  position: absolute;
  top: -303px;
  right: -150px;
  z-index: -2;
  width: 700px;
  height: 711px;
}

.features {
  padding: 71px 0 154px;
}

.features_item:not(:last-of-type) {
  margin-bottom: 100px;
}

.features_item-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  .features_item-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .features_item-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .features_item-contents {
    display: block;
  }
}

@media (min-width: 769px) {
  .features_item-img {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .features_item-img {
    width: 35%;
  }
}

@media (max-width: 480px) {
  .features_item-img {
    width: 80%;
    margin: 0 auto 20px;
  }
}

@media (min-width: 769px) {
  .features_item-text-contents {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .features_item-text-contents {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .features_item-text-contents {
    width: 100%;
  }
}

.features_item-title-text {
  font-weight: bold;
}

@media (min-width: 769px) {
  .features_item-title-text {
    font-size: 2.4rem;
    margin-bottom: 45px;
    line-height: 2;
  }
}

@media (max-width: 768px) {
  .features_item-title-text {
    font-size: 2.4rem;
    margin-bottom: 45px;
    line-height: 2;
  }
}

@media (max-width: 480px) {
  .features_item-title-text {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

.features_item-text {
  font-size: 1.6rem;
  line-height: 26px;
}

.price {
  padding: 55px 0 68px;
}

.price_list {
  margin-bottom: 36px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.price_list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e5e5;
}

.price_title {
  padding: 35px 20px;
  border-right: 1px solid #e5e5e5;
}

@media (min-width: 769px) {
  .price_title {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
  }
}

@media (max-width: 768px) {
  .price_title {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
  }
}

.price_detail {
  padding: 35px 30px;
}

.price-notes {
  text-align: center;
}

.faq {
  padding: 55px 0 86px;
}

.faq_item-question, .faq_item-answer {
  font-size: 1.4rem;
  line-height: 26px;
  font-weight: bold;
}

.faq_item-question {
  text-align: center;
  border: 1px solid #e5e5e5;
  padding: 20px 35px;
}

.faq_item-answer {
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.faq_item-answer.is-open {
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  padding: 20px 35px;
  line-height: 26px;
  height: auto;
  opacity: 1;
}

.blog {
  padding: 55px 0 91px;
}

@media (min-width: 769px) {
  .section-blog-inner {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .section-blog-inner {
    padding: 0 4vw;
  }
}

@media (max-width: 480px) {
  .section-blog-inner {
    padding: 0 4vw;
  }
}

@media (min-width: 769px) {
  .blog_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .blog_list {
    display: block;
  }
}

@media (max-width: 480px) {
  .blog_list {
    display: block;
  }
}

.blog_item {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media (min-width: 769px) {
  .blog_item {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .blog_item {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .blog_item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .blog_item {
    display: block;
    width: 100%;
  }
  .blog_item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.blog_item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.blog_item-link:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog_item-text-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 14px 30px 10px 18px;
}

.blog-text {
  font-size: 1.8rem;
}

.blog-date {
  text-align: right;
  color: #444;
}

.works {
  padding: 55px 0 90px;
}

.works_item {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

@media (min-width: 769px) {
  .works_item {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .works_item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .works_item {
    width: 80%;
  }
}

.works_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide {
  height: auto;
}

.works_item-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works_item-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 18px 40px;
}

.works-details_list {
  margin-top: 30px;
}

.works-details_item {
  font-size: 1.4rem;
}

.contact {
  padding: 63px 0 70px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05a5fa), color-stop(100%, #63fbd7), to(#67ffd6)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%) 0% 0% no-repeat padding-box;
}

.contact-message {
  text-align: center;
  margin-bottom: 44px;
}

.contact_form {
  background: #fff;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

@media (min-width: 769px) {
  .contact_form {
    padding: 35px 62px;
  }
}

@media (max-width: 768px) {
  .contact_form {
    padding: 35px 4vw;
  }
}

@media (max-width: 480px) {
  .contact_form {
    padding: 35px 4vw;
  }
}

.form_item {
  margin-bottom: 27px;
}

@media (min-width: 769px) {
  .form_item-title {
    margin-bottom: 39px;
  }
}

@media (max-width: 768px) {
  .form_item-title {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .form_item-title {
    margin-bottom: 15px;
  }
}

.required {
  display: inline-block;
  margin-left: 23px;
  padding: 4px 16px;
  color: #fff;
  background: #0c449b;
  font-size: 1.4rem;
  border-radius: 10px;
}

.text-box {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eefbfb;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}

.textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eefbfb;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

.confirm {
  margin-bottom: 30px;
  text-align: center;
}

.checkbox {
  border: 1px solid #333;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}

.checkbox:checked {
  background: url(../images/icon_chek.svg) center no-repeat;
  background-size: 14px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  background: transparent -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 1.4rem;
  width: 155px;
  line-height: 37px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.end-message {
  display: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  text-align: center;
}

.footer-wrapper {
  padding: 43px 0 49px;
  background: #f8f8f8;
}

.footer-title {
  margin-bottom: 21px;
  font-size: 2.4rem;
  font-weight: bold;
}

@media (min-width: 769px) {
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 52px;
  }
}

@media (max-width: 768px) {
  .footer-link {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .footer-link {
    display: block;
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) {
  .footer-link a:not(:last-of-type) {
    margin-right: 29px;
  }
}

@media (max-width: 768px) {
  .footer-link a {
    display: block;
  }
  .footer-link a:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .footer-link a {
    display: block;
  }
  .footer-link a:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer-link a:hover {
  text-decoration: underline;
}

small {
  font-size: 1.4rem;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */